h1.title{
    font-family: Bahnschrift semicondensed;
    font-size: 45px;
    text-align: center;
}

h4.author {
    font-family: Bahnschrift;
    text-align: center;
}
h2 {
    font-family: Bahnschrift semicondensed;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
}
h3 {
    font-family: Bahnschrift semicondensed;
    font-size: 28px;
}
body {
    font-family: Helvetica, serif;
    padding: 10px 350px 10px 350px;
    background-color: #282828;
    color: #50a0c8;
    text-align: justify;
}

div {
    border-radius: 25px;
    background: #50a0c8;
    padding: 45px;
    color: white;
    line-height: 1.5;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

